USE [master]
GO
/****** Object:  Database [DataBackupManagementDB]    Script Date: 7/3/2025 4:09:25 PM ******/
CREATE DATABASE [DataBackupManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataBackupManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DataBackupManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataBackupManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DataBackupManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataBackupManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataBackupManagementDB]
GO
/****** Object:  Table [dbo].[Backup_History]    Script Date: 7/3/2025 4:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Backup_History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[backup_time] [datetime] NOT NULL,
	[user_id] [int] NOT NULL,
	[backup_path] [nvarchar](255) NOT NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/3/2025 4:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](30) NOT NULL,
	[last_name] [nvarchar](30) NOT NULL,
	[email] [varchar](30) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Backup_History] ON 

INSERT [dbo].[Backup_History] ([id], [backup_time], [user_id], [backup_path], [note]) VALUES (12, CAST(N'2025-07-03T14:30:37.990' AS DateTime), 2, N'C:/ád/a.bak', N'12')
INSERT [dbo].[Backup_History] ([id], [backup_time], [user_id], [backup_path], [note]) VALUES (15, CAST(N'2025-07-03T14:39:59.973' AS DateTime), 1, N'D:/s.bak', N'123')
INSERT [dbo].[Backup_History] ([id], [backup_time], [user_id], [backup_path], [note]) VALUES (16, CAST(N'2025-07-03T15:20:27.693' AS DateTime), 1, N'D:\a\v\a.bak', N'kwvzkccrkvxapivmmqzzynivsxvmqpcwkqjwkctguvppzqittgnqeafmtnpbwnliqvyjoodfgnanoxtghgwcjsnqjdliutoeccrcgzsnsqmzyultvvtekunfxfswwepxanwrhcjvdxnoahvfvispjuzoxeexlvitjlinpvkwmqchmcmanxunefwuytjsrnfzdqdkrottzvfgzpwenysbxbvxkybshtylrrqnfkrvndlxogyzdutmmgzcxcfxvdj')
SET IDENTITY_INSERT [dbo].[Backup_History] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [first_name], [last_name], [email]) VALUES (1, N'Nam', N'Lê', N'nam@gmail.com')
INSERT [dbo].[Users] ([id], [first_name], [last_name], [email]) VALUES (2, N'Trung', N'Nguyễn', N'trung@gmail.com')
INSERT [dbo].[Users] ([id], [first_name], [last_name], [email]) VALUES (3, N'Tính', N'Phan', N'tinh@gmail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Backup_History] ADD  DEFAULT (getdate()) FOR [backup_time]
GO
ALTER TABLE [dbo].[Backup_History]  WITH CHECK ADD  CONSTRAINT [fk_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Backup_History] CHECK CONSTRAINT [fk_user]
GO
USE [master]
GO
